<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/head_public.css">
    <link rel="stylesheet" href="../css/index_machine_info.css">
    <script type="text/javascript" src='../js/net-js/echarts.min.js'></script>
</head>
<body>
    <div id="index_machine" class="machine_body">
        <div class="machine_body_left">
            <div class="machine_body_head">
                <img src="../img/time_table.png" class="machine_body_img">
                <span class="machine_body_text1">机床信息</span>
                <input type="button" class="machine_body_true" value="确定"></input>
            </div>
            <hr class="machine_line1" />
            <div class="machine_body_body">
                <div class="machine_left_info">
                    <span class="machine_net machine_public_info">联网方式</span>
                    <input class="machine_net_text machine_public_text" value ="">
                    <span class="machine_num machine_public_info">设备编号</span>
                    <input class="machine_num_text machine_public_text" value ="">
                    <span class="machine_net machine_public_info">设备型号</span>
                    <input class="machine_net_text machine_public_text" value ="">
                    <span class="machine_net machine_public_info">设备类型</span>
                    <input class="machine_net_text machine_public_text" value ="">
                    <span class="machine_net machine_public_info">刀库类型</span>
                    <input class="machine_net_text machine_public_text" value ="">
                </div>
            </div>
        </div>
        <div class="machine_body_middle"></div>
        <div class="machine_body_right"></div>
    </div>
</html>